html, body {
  margin: 0 auto;
}
body {
  background-image: url(https://www.justpark.com/images/home_hero@3x.webp) ;
  background-repeat:no-repeat;

  background-size: cover;
  font-family: -apple
  -system,BlinkMacsystemFo
  nt,Segoe UI,Roboto,Oxygen
  -Sans,Ubuntu,Cantarell,
  Helvetticca Neue,
  sans-serif;
}
.icon-lock {
    background-position: -287px -24px;
}
[class*=" icon-"],[class^=icon-] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(/media/img/icons/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}
.modalFooterCss {
  background: webkit-gradient(linear, center top, center bottom, from(#f6f6f6), to(#e5e5e5));
    border: 1px solid #ccc;
    }

.modalHeaderCss {
  background: webkit-gradient(linear, center top, center bottom, from(#f6f6f6), to(#e5e5e5));
    border: 1px solid #ccc;
    padding: 9px 15px;
}

.glyphicons.icon-facebook:before {
    content: "\e411";
}

.fbbtn {

}
.twtrbtn {

}
.gglbtn {

}

.LoginPage {
  width: 500px;
  margin: 0 auto;
    background-color: blanchedalmond;

}

.socialLoginOuter{

}
.socialLoginInner {

 min-width: 500px;
 min-height: 600px;
 width: 100%;
}

.mui--divider-right {
border-right: 1px solid rgba(0, 0, 0, .6);
}

.parkingInnerDiv {
    position:fixed;
    top: 50%;
    left: 30%;
    width:29em;
    height:18em;
    margin-top: -18em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em
}

.inputMainUi1 {

  align-content: center;
}

.mainContainerDiv {
  justify-content: center;
  margin-top: inherit;
}

.containerDiv{
  width: 50%;
  padding: 0;
  padding-top: 19%;
  padding-bottom: 12%;
  background-color: #21303e;
}

.h1 {
  font-family: Nunito,sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  text-align: inherit;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem;
  }

.h4 {
  padding-top: 5%;
  font-family: Nunito,sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  text-align: inherit;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem;
}

.auto1{
  padding-top: 5%;
}

.auto2{
  padding-top: 2%;
}

.secondsFont {
  color:#0a0;
}

.w100{
  width: 100%;
  border-radius: .4em;
}
.Rbtn {
  width: 100%;
  align-content: center;
  justify-content: center;
  border-radius: .4em;
}
.row {
  display: flex;
}
