body {
  background-image: url(https://www.justpark.com/images/home_hero@3x.webp) ;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  font-family: -apple
  -system,BlinkMacsystemFo
  nt,Segoe UI,Roboto,Oxygen
  -Sans,Ubuntu,Cantarell,
  Helvetticca Neue,
  sans-serif;
}

.mui--divider-right {
border-right: 1px solid rgba(0, 0, 0, .6);
}

.inputMainUi1{
  max-width: 20%;
  max-height: 60%;
  align-content: center;
}

.mainContainerDiv {
  max-width: 100%;
  min-height: 90%;
  justify-content: center;
  margin-top: inherit;
}

.containerDiv{
  width: 50%;
  padding: 0;
  padding-top: 19%;
  padding-bottom: 12%;
  background-color: #21303e;
}

.h1 {
  font-family: Nunito,sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  }

.secondsFont {
  color:#0a0;
}

.Rbtn {
    max-width: 38%;
    max-height: 60%;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}
